<div class="widget-newsletter widget">
	<h4 class="widget__title"><a href="/newsletter">Monthly Newsletter</a></h4>
	<div class="widget__content">

	A collection of things I have found in the last month that I enjoyed, found interesting, or simply wanted to share.
		<!-- Begin Mailchimp Signup Form -->
<form action="https://claycarson.us2.list-manage.com/subscribe/post?u=9eab7e3bd7029c1d9db034eaa&amp;id=7bb36508e6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL"></label>
	<input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL">
 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9eab7e3bd7029c1d9db034eaa_7bb36508e6" tabindex="-1" value=""></div>
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
<!--End mc_embed_signup-->
	</div>
</div>